@charset "UTF-8";
body {
  font-family: "Inter", sans-serif;
}

.header_burger {
  display: none;
}

.header_container {
  margin: 0px auto;
  padding: 15px 10px;
  background-color: #050505;
  max-width: 1600px;
}

.line_header {
  width: 100%;
  height: 1px;
  left: 0px;
  background-color: #3F3F3F;
  margin-top: 82px;
  position: absolute;
  top: 0px;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 50;
  top: 0px;
}

.header_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_list {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  height: 50px;
}
.header_list li {
  list-style: none;
  font-size: 18px;
  margin-left: 40px;
  text-transform: lowercase;
}
.header_list li:nth-child(1) {
  margin-left: 0px;
}

.gidline {
  height: 50px;
  width: 1px;
  background-color: #3F3F3F;
  margin-left: 40px;
}

li a {
  text-decoration: none;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .header_list li {
    margin-left: 30px;
  }
}
@media (max-width: 1000px) {
  .time {
    margin-left: 30px;
  }
  .header_list li {
    font-size: 18px;
  }
  .header_btn {
    width: 180px;
  }
  .header_list li {
    margin-left: 30px;
  }
}
@media (max-width: 815px) {
  .time {
    margin-left: 30px;
  }
  .header_list li {
    font-size: 18px;
  }
  .header_btn {
    width: 180px;
  }
  .header_list li {
    margin-left: 30px;
  }
  .header_btn {
    width: 100%;
    padding: 0px 20px;
  }
}
@media (max-width: 873px) {
  .gidline {
    display: none;
  }
  .header_burger {
    position: relative;
    z-index: 3;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header_burger span,
  .header_burger::before,
  .header_burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #FFFFFF;
  }
  .header_burger::before,
  .header_burger::after {
    content: "";
  }
  .header_burger::before {
    top: 0;
  }
  .header_burger::after {
    bottom: 0;
  }
  .header_burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  body.lock {
    overflow: hidden;
  }
  .header_burger.active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .header_burger.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header_burger.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header_menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #050505;
    padding: 100px 0px 0px 0px;
    right: -100%;
    -webkit-transition: right 1s ease-in-out;
    transition: right 1s ease-in-out;
    height: 10000%;
  }
  .header_menu.active {
    right: 0;
  }
  .header_list {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 20px;
    margin: 0px;
  }
  .header_list li {
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 36px;
  }
  .time {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
    height: 60px;
  }
  .header_btn {
    height: 60px;
    width: 100%;
  }
  header {
    top: 0;
  }
}
.h1_container {
  max-width: 1600px;
  margin: 142px auto;
}

.h1_sub {
  color: #D6D6D6;
  font-size: 16px;
  font-weight: bold;
  line-height: 80%;
  text-transform: uppercase;
  margin-left: 8px;
}

.h1 {
  margin-top: 10px;
  font-size: 140px;
  letter-spacing: -4%;
  text-transform: lowercase;
  line-height: 80%;
  width: 1000px;
  color: #FFFFFF;
}

.date_container {
  max-width: 1600px;
  margin: 200px auto;
}

.tab-content {
  display: none;
  color: #FFFFFF;
}

.tab-content.active {
  display: block;
}

.tab-link {
  border-radius: 200px;
  border: 1px solid #3F3F3F;
  padding: 12px 20px;
  background-color: #050505;
  color: #FFFFFF;
  font-size: 18px;
}

.tab-link.active {
  background-color: #E30613;
  color: white;
}

.tab_contant {
  height: 100%;
  padding: 30px 0px;
  border-bottom: 1px solid #3F3F3F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 630px;
  left: 0px;
}

.time {
  font-size: 24px;
  font-weight: medium;
  line-height: 130%;
  color: #D6D6D6;
}

.addres {
  margin-left: 50px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 16px;
  line-height: 110%;
}
.addres img {
  max-width: 24px;
  height: auto;
  margin-right: 5px;
}

.card_left img {
  margin-left: 30px;
}

.addres_txt {
  width: 250px;
}

.card_right {
  margin-left: 50px;
}

.about_txt_1 {
  font-size: 32px;
  line-height: 120%;
  color: #D6D6D6;
}

.about_txt_2 {
  color: #A3A3A3;
  font-size: 32px;
  line-height: 120%;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.tag {
  border-radius: 200px;
  border: 1px solid #757575;
  color: #757575;
  background-color: #050505;
  padding: 8px 15px;
  font-size: 14px;
  text-transform: lowercase;
}

body {
  margin: 0;
  background-color: #f0f0f0;
}

.slider {
  max-width: 1600px;
  height: auto;
  margin: 30px auto;
}

.slider__container {
  max-width: 1600px;
  padding: 0px 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  max-width: calc(50% - 10px); /* 50% ширины минус отступ между изображениями */
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__dots {
  padding: 0.5rem 0;
}

.slider__dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #3F3F3F;
  border-radius: 50%;
  display: inline-block;
}

.slider__dot.activ,
.slider__dot:hover {
  background-color: #E30613;
}

.slider__controls {
  padding-top: 0.5rem;
  text-align: center;
}

.slider__nav {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}

.modal {
  position: absolute;
  top: 100%; /* Положение модального окна снизу от кнопки */
  left: 0; /* Положение модального окна слева от кнопки */
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); /* Сдвиг модального окна вверх на высоту кнопки */
}

.modal-content {
  background-color: #212121;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}

.close {
  color: #D6D6D6;
  float: right;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: #E30613;
  text-decoration: none;
  cursor: pointer;
}

.location-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.location-btn {
  padding: 10px 20px;
  background-color: #212121;
  color: white;
  border: 1px solid #FFFFFF;
  border-radius: 200px;
  cursor: pointer;
}

.location-btn:hover {
  background-color: #E30613;
  border: 1px solid #212121;
}

#selectLocationBtn {
  font-size: 18px;
  color: #D6D6D6;
  background-color: inherit;
  border: inherit;
  text-transform: lowercase;
  cursor: pointer;
  margin-top: 10px;
  border-bottom: 1px solid;
}
#selectLocationBtn:hover {
  color: #E30613;
}

.tabs {
  overflow-x: auto;
  white-space: nowrap;
}

.tab-link {
  display: inline-block;
  margin-right: 10px;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tabs {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 1600px) {
  .date_container {
    max-width: 1200px;
  }
  .h1_container {
    margin-left: 100px;
  }
}
@media (max-width: 1400px) {
  .date_container {
    max-width: 1200px;
  }
}
@media (max-width: 1240px) {
  .date_container {
    max-width: 1000px;
  }
  .addres {
    margin-left: 20px;
  }
  .card_left img {
    margin-left: 20px;
  }
  .addres_txt {
    width: 200px;
    font-size: 16px;
  }
  .about_txt_1 {
    font-size: 28px;
  }
  .about_txt_2 {
    margin-top: 10px;
    font-size: 28px;
  }
  .tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; /* Добавляем это свойство */
    gap: 10px;
    margin-top: 30px;
  }
}
@media (max-width: 1024px) {
  .date_container {
    max-width: 768px;
  }
  .addres {
    margin-left: 10px;
  }
  .card_left img {
    margin-left: 10px;
  }
  .addres_txt {
    width: 150px;
    font-size: 14px;
  }
  .about_txt_1 {
    font-size: 20px;
  }
  .about_txt_2 {
    font-size: 20px;
  }
  .tags {
    gap: 10px;
    margin-top: 20px;
  }
  .card_right {
    margin-left: 20px;
  }
  .h1 {
    font-size: 100px;
    width: 60%;
  }
  .h1_container {
    max-width: 767px;
    margin: 0 auto;
    margin-top: 150px;
  }
}
@media (max-width: 768px) {
  .h1 {
    font-size: 86px;
    width: 60%;
  }
  .h1_container {
    max-width: 480px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .tab_contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
  }
  .card_left {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column; /* Изменяем направление главной оси на column */
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; /* Удаляем перенос элементов на новую строку */
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; /* Выравниваем элементы по началу главной оси */
  }
  .card_left img:nth-last-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0px;
    width: 100%;
    height: auto;
  }
  .addres {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 0px;
    margin-top: 20px;
  }
  .addres img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0px;
  }
  .addres_txt {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .time {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .card_right {
    margin-left: 0px;
  }
  .date_container {
    max-width: 80%;
    margin: 0 auto;
  }
  .time {
    height: auto;
    margin-top: 10px;
  }
  .tags {
    gap: 10px;
  }
  .tag {
    text-align: center;
    font-size: 14px;
    padding: 5px 10px;
  }
}
@media (max-width: 550px) {
  .h1 {
    font-size: 64px;
    width: 60%;
  }
  .h1_container {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  .tags {
    gap: 5px;
  }
  .tag {
    text-align: center;
    font-size: 12px;
    padding: 5px 10px;
  }
  .h1 {
    font-size: 48px;
    width: 60%;
  }
  .h1_container {
    max-width: 320px;
  }
}
@media (max-width: 360px) {
  .h1 {
    font-size: 48px;
    width: 60%;
  }
  .h1_container {
    max-width: 250px;
  }
}
.acardion_container {
  margin: 0 auto;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-right: 50px;
}

.accordion {
  background-color: #050505;
  color: #D6D6D6;
  cursor: pointer;
  padding: 20px 0px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 40px;
  letter-spacing: -10%;
  line-height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.active_acardion, .accordion:hover {
  color: #E30613;
}

.accordion:after {
  content: "+";
  color: #3F3F3F;
  font-size: 26px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active_acardion:after {
  content: "−";
}

.panel {
  width: 975px;
  background-color: #050505;
  color: #A3A3A3;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  border-bottom: 1px solid #3F3F3F;
}

.acardion_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.acardion_content .right {
  width: 100%;
}
.acardion_content li {
  font-size: 22px;
  list-style: none;
  margin-bottom: 10px;
  line-height: 150%;
}
.acardion_content ul {
  margin: 0px;
  padding: 0px;
  margin-left: 15px;
}

@media (max-width: 1120px) {
  .acardion_container {
    padding-left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .acardion_content {
    margin-top: 150px;
  }
}
@media (max-width: 1000px) {
  .acardion_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 0px;
    padding-right: 50px;
    margin: 0px;
  }
  .panel {
    width: 650px;
  }
}
@media (max-width: 767px) {
  .panel {
    width: 450px;
  }
  .accordion {
    font-size: 28px;
  }
  .acardion_content li {
    font-size: 18px;
  }
  .acardion_content ul {
    margin-left: 10px;
  }
  .acardion_content {
    margin-top: 50px;
  }
}
@media (max-width: 550px) {
  .panel {
    width: 300px;
  }
  .accordion {
    font-size: 20px;
  }
  .acardion_content li {
    font-size: 16px;
  }
  .acardion_content ul {
    margin-left: 10px;
  }
  .acardion_content {
    margin-top: 0px;
  }
  .accordion:after {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .acardion_container {
    padding-right: 20px;
  }
  .panel {
    width: 280px;
  }
}
body {
  background-color: #050505;
}

a:hover {
  color: red;
}